#root {
  margin:0;
  padding:0;
}

#nav {
  display:flex;
  justify-content:space-around;
  list-style-type:none;
  margin:0;
  padding:0;
}

#nav li {
  background-color: aliceblue;
  flex:1;
  padding:5px 5px;
}

#hero-image {
  background-image: url(./japanese-food.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
  position:relative;
}

#cta {
  background-color:rgba(0,0,0,0.75);
  position:absolute;
  top:25%;
  left:5%;
  font-size:24px;
  font-family:Verdana;
  color:white;
  padding:20px;
  
}
